
  .dark .dark-card{
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 
                0 4px 4px -1px rgba(255, 255, 255, 0.1);
  }
  .dark .dark-card:hover {
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1), 
                0 4px 6px -2px rgba(255, 255, 255, 0.05);
  }
  .dark .dark-card .ant-card-actions {
    background-color: #1a202c ;
    border-top: 1px solid #3a3a3a ;
  }
/* Hide scrollbar for the Twitter card */
.twitter-card {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.twitter-card::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.tweet-container::-webkit-scrollbar {
  display: none;
}

.tweet-container{
  padding: 3px;

}
.youtube{
  padding: 1px;
}

.youtube-container {
  aspect-ratio: 16 / 9; /* Standard video aspect ratio */
  width: 100%; /* Takes full width of parent */
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fff;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #fff;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #fff;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #fff;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #fff;
      opacity: 1;
    }
  }
  
